.container {
    .well {
       // background-color: rgb(109, 226, 226);
        size: auto;
        border: 1px solid rgba(16, 132, 241, 0.747);
        border-radius: 12px;
    }
    #upload_button {
        display: inline-block;
      }
    #upload_button input[type=file] {
        display:none;
      }
}