<div class="container" style="opacity:0.7;" >
    
  <div class="row">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          DemoDialer</div>
  </div>
  <div class="row">
      <ul class="nav navbar-right top-nav">
          <li class="dropdown">
              <div style="font-size: 30px; color: rgb(181, 211, 181);" id="watch">{{currentTime | date : 'medium'}}</div>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" style="color:rgb(181, 211, 181);" data-toggle="dropdown"><i class="fa fa-user"></i>&nbsp;Super
                  Admin&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-user">
                  <li><a href="changePassword"><i class="fa fa-lock fa-fw"></i>
                          Password</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i>
                          Logout</a>
                  </li>
              </ul>
          </li>
      </ul>
  </div>
  
      <ul class="nav nav-pills" style="color:rgb(181, 211, 181);">
          <li class="dropdown">Dashboard</li>
          <li class="dropdown">User</li>
          <li class="dropdown">Campaign</li>
          <li class="dropdown">Agents</li>
          <li class="dropdown">Cusomers</li>
        </ul>
  



     <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Top Menu Items -->


</div>