/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*{
    font-size: 14px;
}

body{
    // background: url(..\src\assets\images\bck2.jpg);
    background-size: cover;
    //background: linear-gradient(to bottom right,rgb(109, 226, 226),rgb(21, 157, 190), rgb(14, 109, 153));
    
}
.label-color{
    color: rgb(255, 255, 255);
}